.mypy_cache/
venv/
shtoolkit.egg-info/
FPA/
build/
dist/
.ruff_cache/

src/shtoolkit/shtrans1/
src/shtoolkit/shtrans/__pycache__/
src/shtoolkit/shtrans/*.c
src/shtoolkit/shtrans/*.pyd
src/shtoolkit/shtrans/*.html
src/shtoolkit/shtrans/*.txt
src/shtoolkit.egg-info/
src/shtoolkit/__pycache__/
src/shtoolkit/shtime/__pycache__/
src/shtoolkit/shtime/*.pyx
src/shtoolkit/shtime/*.pyd
src/shtoolkit/shtime1.py